body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

#game-container {
    text-align: center;
}

#click-image {
    cursor: pointer;
    width: 200px;
    height: 200px;
    transition: transform 0.1s; /* Smooth transition for the scale effect */
}

/* Class added by JavaScript when the image is clicked */
.clicked {
    transform: scale(0.9);
}

button {
  margin-top: 20px;
  display: block; /* Ensures it moves to its own line */
  margin-left: auto;
  margin-right: auto;
}
